<h1>WELLCOME TO IMDB</h1>

<form action="/search" method="POST">
<input type="text" name="movie" placeholder="CHOOSE YOUR MOVIE">
<button type="submit" name="action" value="search">GO</button>
</form>