<img width='10%' heigth='10%' src='/GitHub.png'>
<strong>William's Apps</strong>
<h5>Check my <a href="https://github.com/wchiquito">GitHub</a></h5>

<% if @show %>
	<ul>
		<% @repos.each do |repo| %>
			<li><%= repo %></li>
		<% end %>
	</ul>
<% end %>


<h6>Current time: <%= @time %></h6>