
<h1>CALCULATOR</h1>

<form action="/calculator" method="POST">
  <input type="number" name="first_number" placeholder="1st number"> 
  <input type="number" name="second_number" placeholder="2nd number">

   <button id="1" type="submit" name="operation" value="add">ADD</button>
   <button id="2" type="submit" name="operation" value="substrantion">substrantion</button>
   <button id="3" type="submit" name="operation" value="multiplication">multiplication</button>
   <button id="4" type="submit" name="operation" value="division">division</button>
</form>

