<form action="/asciis" method="post">
  <div>
   
    <textarea name="asciis" id="asciis"></textarea>
  </div>


  <button type="submit">Submit</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>
</form>

