.top{
	background-color: #959ba0;
}


.bottom{
	background-color: white;
}

.btn-btn-primary{
	background-color: white;
}

.btn-btn-primary-first{
	background-color: white;
	color: red;
}
.btn-btn-primary-last{
	background-color: white;
	border-radius: 15px;
	color: blue;
	margin-left: 100px;

}
span{
	color: yellow;
}

.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

}