
<form action="/result" method="POST">
<ul>
<li><input type="text" name="title" placeholder="type your title"></li>
<li><input type="text" name="category" placeholder="field"></li>
<li><input  type="text" name="author" placeholder="name"></li>
<li><input  type="text" name="text" placeholder="type your post" style="width: 500px;
    height: 500px;"></li>

<button type="submit" name="action" value="add" >ADD POST</button>
</ul>
</form>
